---
title: "MoOx (Freelance Front-end Web Developer) code ressources"
nav: code
---

{{#extend "layout"}}
  {{#append "header"}}
    <h1 class="mx-Header-body-title mx-Text--light mx-Text--thin mx-Title--light grid__cell unit-8-12--medium">
        <div class="mx-Header-left mx-Header-left--quote">MoOx likes to code,</div>
        <div class="mx-Header-right mx-Header-right--quote">&amp; is an Open Source addict.</div>
    </h1>
  {{/append}}
  {{#append "body"}}
    <div class="mx-Body grid">
      <div class="grid__cell unit-1-2--medium">
        <h2>Code</h2>

        <p>
          Most of the code I produce outside my missions is shared as Open Source, whenever it's possible.
          That's just because I'm an Open Source addict. I love to share.
        </p>

        <ul>
          <li><a href="https://github.com/MoOx">My GitHub profile, you will see my Open Source
          repositories &amp; my activity,</a></li>
          <li><a href="http://resume.github.io/?MoOx">My minimal GitHub résumé</a></li>
          <!--
          <li><a href="http://osrc.dfm.io/MoOx">My Open Source report card, which include &amp; lot of stats</a>,</li>
          <li><a href="https://sourcegraph.com/MoOx">My SourceGraph, to see relation between Open Source project and people I interact with</a>.</li>
          -->
        </ul>

        <div data-theme="default" data-height="" data-width="400" data-github="MoOx" class="github-card"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
      </div>
      <div class="grid__cell unit-1-2--medium">
        <h3>Open Source projects</h3>

        Here is a tiny list of the Open Source projects I'm working on:
        {{> side-projects }}
      </div>
    </div>
  {{/append}}
{{/extend}}
