$glowing-indicator-color: #1dd5fe !default;
$glowing-indicator-position: bottom !default;
$glowing-indicator-width: 1em !default;
$glowing-indicator-shape: circle !default;
$glowing-indicator-hover-effect: false !default;
$glowing-indicator-offset: -$glowing-indicator-width*.8 !default;

@mixin glowing-indicator-effect(
	$color: $glowing-indicator-color,
	$position: $glowing-indicator-position
) {
	@if ($position == top or $position == bottom) {
		box-shadow:
			0 0 .2em darken($color, 5%),
			// 0 .1em 0 lighten($color, 20%),
			// 0 -.1em 0 lighten($color, 20%),
			0 .15em .4em darken($color, 10%),
			0 -.15em .4em darken($color, 10%),
			0 .3em .6em darken($color, 20%),
			0 -.3em .6em darken($color, 20%);
	}
	@elseif ($position == left or $position == right) {
		box-shadow:
			0 0 .2em darken($color, 5%),
			// 0 .1em 0 lighten($color, 20%),
			// 0 -.1em 0 lighten($color, 20%),
			.15em 0 .4em darken($color, 10%),
			-.15em 0 .4em darken($color, 10%),
			.3em 0 .6em darken($color, 20%),
			-.3em 0 .6em darken($color, 20%);
	}
	@else {
		@warn "glowing-indicator-effect: Unrecognized position #{$position}";
	}
}

@mixin glowing-indicator-pseudo-element-requirements(
	$color: glowing-indicator-color,
	$width: $glowing-indicator-width,
	$shape: $glowing-indicator-shape,
	$position: $glowing-indicator-position
) {
	content: "";
	background-color: $color;
	@include glowing-indicator-effect($color, $position);

	@if ($shape == circle) {
		width: $width;
		height: $width;
		border-radius: 100%;
	}
	@else {
		@warn "glowing-indicator-pseudo-element-requirements: Unrecognized shape #{$shape}";
	}

	position: absolute;
}

@mixin glowing-indicator-pseudo-element-position(
	$position: $glowing-indicator-position,
	$width: $glowing-indicator-width,
	$offset: $glowing-indicator-offset
) {
	#{$position}: $offset;
	@if ($position == top or $position == bottom) {
		left: 50%;
		margin-left: -$width/2;
	}
	@elseif ($position == left or $position == right) {
		top: 50%;
		margin-top: -$width/2;
	}
	@else {
		@warn "glowing-indicator-pseudo-element: Unrecognized position #{$position}";
	}
}

@mixin glowing-indicator-pseudo-element(
	$color: glowing-indicator-color,
	$position: $glowing-indicator-position,
	$width: $glowing-indicator-width,
	$offset: $glowing-indicator-offset,
	$shape: $glowing-indicator-shape
) {
	@include glowing-indicator-pseudo-element-requirements($color, $width, $shape);
	@include glowing-indicator-pseudo-element-position($position, $width, $offset);
}

@mixin glowing-indicator(
	$color: glowing-indicator-color,
	$position: $glowing-indicator-position,
	$width: $glowing-indicator-width,
	$hover-effect: $glowing-indicator-hover-effect,
	$offset: $glowing-indicator-offset,
	$shape: $glowing-indicator-shape
) {
	position: relative;

	&::after {
		@include glowing-indicator-pseudo-element($color, $position, $width, $hover-effect, $offset, $shape );
	}

	@if ($hover-effect) {
		&::after {
			opacity: 0;
			transition: all .2s;
		}

		&:hover::after { opacity: 1; }
	}
}
