$use-griddle: true !default;
$grid-gutter: 2em !default;

@import "griddle/griddle";
// libsass incompatibility workaround
// @todo report to libsass repo
@function contains($list, $value) {
    // real source
    // @if type-of($list) == list { @return not not index($list, $value); }
    // @else { @return $list == $value; }
    @return false;
}

@if $use-griddle {
  $grid-screen-s: 2 3 4 !default;
  $grid-screen-m: 2 3 4 5 6 12 !default;

  @include griddle-build($grid-screen-s);

  @include crp-Media-m {
    @include griddle-build($grid-screen-m, '--medium');
  }
}

// @import "suit-utils-size/size.css";
// @import "suit-utils-size/size-v1.css" (max-width: 25em);
// @import "suit-utils-size/size-v2.css" (min-width: 25em) and (max-width: 50em);
// @import "suit-utils-size/size-v3.css" (min-width: 50em);
//
// @import "suit-grid/grid.css";
