$Navbar-height: 2.6em !default;
$Navbar-link-color: #fff !default;
$Navbar-link-color--hover: #fff !default;

$Navbar-separator--color: rgba(#000, .8) !default;
$Navbar-separator--color-alt: rgba(#fff, .1) !default;

$Navbar-screen-breakpoint: $crp-Media-size-m !default;

.Navbar {
  //@extend %crp-Clearfix; // libsass bug
  @include crp-Clearfix;
  position: relative;
  z-index: 1;
  width: 100%;

  line-height: $Navbar-height;
}

  .Navbar-section {
    list-style: none;
  }

    .Navbar-section,
    .Navbar-section li,
    .Navbar-section a {
      margin: 0;
      padding: 0;
    }

    .Navbar-section a {
      display: block;
      font-weight: bold;

      text-decoration: none;

      color: $Navbar-link-color;
    }

    .Navbar-section a:hover {
      color: $Navbar-link-color;
    }

    @include crp-Media-min($Navbar-screen-breakpoint) {
      .Navbar-section,
      .Navbar-section li,
      .Navbar-section a {
        // inline menu for larger screen
        display: inline-block;
      }

      .Navbar-section--left { float: left }
      .Navbar-section--right { float: right }
    }

// Button toggler

  $Navbar-toggler: true !default;
  $Navbar-toggler-ratio: .7 !default;
  @if $Navbar-toggler {
    .Navbar-toggler {
      position: absolute;
      top: 0;
      right: 0;

      font-size: $Navbar-height*$Navbar-toggler-ratio;
      line-height: 1*(1/$Navbar-toggler-ratio);
      padding: 0;
      border: 0;

      color: $Navbar-link-color;
      background: none;
    }

    // by default hidden since it's a javascript button
    @include crp-Media-min($Navbar-screen-breakpoint) { .Navbar-toggler { display: none;  } }
  }

// Separator

  $Navbar-separator: true !default;
  @if ($Navbar-separator) {
    .Navbar-separator--before,
    .Navbar-separator--after {
      position: relative;
    }

    // separator for vertical layout
    .Navbar-separator--before::before {
      top: -1px;
      border-top: 1px solid;
    }

    .Navbar-separator--after::after {
      bottom: -1px;
      border-bottom: 1px solid;
    }

    .Navbar-separator--before::before,
    .Navbar-separator--after::after {
      content: "";
      width: 100%;
      height: 1px;
      display: inline-block;
      left: 0;
    }

    // separator for horizontal layout
    @include crp-Media-min($Navbar-screen-breakpoint) {

      .Navbar-separator--before::before {
        top: auto;
        border-top: 0;
        left: -1px;
        border-left: 1px solid;
      }

      .Navbar-separator--after::after {
        bottom: auto;
        border-bottom: 0;
        left: auto; // disable vertical layout
        right: -1px;
        border-right: 1px solid;
      }

      .Navbar-separator--before::before,
      .Navbar-separator--after::after {
        width: 1px;
        height: 100%;
        top: 0;
      }
    }

    .Navbar-separator--before::before,
    .Navbar-separator--after::after {
      background: $Navbar-separator--color;
      border-color: $Navbar-separator--color-alt;
    }
  }
