<nav class="top-bar">
	<ul>
		<li class="name">
			<h1><a href="{{ site.baseUrl }}">{{ site.name }}</a></h1>
		</li>
		<li class="toggle-topbar"><a href="#"></a></li>
	</ul>

	<section>
		<!-- Left Nav Section -->
		<ul class="left">
			<li class="divider"></li>
			<li><a href="profile"><i class="icon icon_user"></i> Profile</a></li>
			<li class="divider"></li>
			<li><a href="code"><i class="icon icon_gears"></i> Code</a></li>
			<li class="divider"></li>
			<li><a href="blog"><i class="icon icon_pencil"></i> Blog</a></li>
			<li class="divider"></li>
			<li><a href="about"><i class="icon icon_help"></i> About</a></li>
			<li class="divider"></li>
			<li><a href="contact"><i class="icon icon_speech-bubble"></i> Contact</a></li>
			<li class="divider hide-for-small"></li>
		</ul>

		<!-- Right Nav Section -->
		<ul class="right">
			<li class="divider"></li>
			<li><a href="https://twitter.com/MoOx" title="Twitter"><i class="icon icon_twitter"></i> Twitter</a></li>
			<li><a href="https://github.com/MoOx" title="Github"><i class="icon icon_github"></i> Github</a></li>
			<li><a href="http://www.linkedin.com/in/maxthirouin" title="LinkedIn">Linked <i class="icon icon_linkedin"></i></a></li>
		</ul>
	</section>
</nav>
