# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.DS_Store
*.pem

# dependencies
/node_modules

# production
dist

# debug
*.log*

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo

# custom
**/svgs/components/**
public/content/**/*.json
tmp
