/* legacy css for old blog post */
.flex-media--unknown {
  text-align: center;
}
.flex-media--unknown .flex-media__item {
  display: inline-block;
  max-width: 100%;
}

.flex-media--3-1 {
  position: relative;
  overflow: hidden;
  padding-bottom: 33.3333333333%;
}
.flex-media--3-1 .flex-media__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flex-media--3-1 img.flex-media__item {
  height: auto;
}

.flex-media--16-9 {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.2502460948%;
}
.flex-media--16-9 .flex-media__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flex-media--16-9 img.flex-media__item {
  height: auto;
}

.flex-media--4-3 {
  position: relative;
  overflow: hidden;
  padding-bottom: 75.0001875005%;
}
.flex-media--4-3 .flex-media__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flex-media--4-3 img.flex-media__item {
  height: auto;
}

.flex-media--1-1 {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}
.flex-media--1-1 .flex-media__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flex-media--1-1 img.flex-media__item {
  height: auto;
}

/* because I am lazy */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

figure {
  border: 1px solid #eee;
}

figcaption {
  font-style: italic;
  text-align: center;
  margin: 0;
  display: block;
  background: #fafafa;
  line-height: 44px;
  border-top: 1px solid #eee;
}
