@import "compass";

@import "zurb-foundation/settings";
@import "zurb-foundation/parts";

@font-face {
	font-family: "icons";
	src: font-url("icons/icons.eot?#iefix") format("embedded-opentype"),
		font-url("icons/icons.woff") format("woff"),
		font-url("icons/icons.ttf") format("truetype"),
		font-url("icons/icons.svg#fontcustom") format("svg");
	font-weight: normal;
	font-style: normal;
}

@import "icons";

html {
	background: image-url('perfection-cold-blur-small.jpg') no-repeat center fixed;
	background-size: cover;
	
	@media (min-width: 50em) {
		background-image: image-url('perfection-cold-blur.jpg');
	}
}

body { background: transparent; } // reset foundation bg

.body-box {
	background: rgba(#fff, .3);
	border-radius: 6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	&:first-child {
		margin-top: 0;
	}
}

.module {
	margin: 1em;
	padding: 1em;
	background-color: #f9f9f9;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
	text-shadow: 0 1px 0 #fff;
	border-radius: 6px;
}

@import "recipes/effect/ribbon";
.ribbon-freelance {
	@include effect-ribbon-corner($position: 'bottom right', $width: 20em, $height: 3em);
	padding: 0 2em;
	position: fixed;
}

.top-bar {
	.icon {
		font-size: 1.2em;
	}
}
