---
lang: fr
layout: slide.hbs
title: future friendly css
type: slides
date: 2013-04-04
---
<section>
	<h1>
		<span>future friendly css</span>
	</h1>
	<p>
		Pour que vos CSS aient la classe.
	</p>
	<small><a href="https://github.com/MoOx/moox.io/blob/master/{{ this.page.src }}">Slides Source</a></small>
</section>
<section>
	<h2>Front-end</h2>
	<p>
		<img src="http://www.finecooking.com/CMS/uploadedimages/Images/Cooking/Articles/Issues_111-120/051120081-01-chocolate-irish-whiskey-cake-recipe_xlg.jpg">
	</p>
</section>
<section>
	<h2>Front-End Source</h2>
	<p>
		<img src="http://www.artaxis.org/ceramics/mess_jonathan/jonathan_mess/j-mess10.jpg">
	</p>
</section>
<section>
	<h2>CSS output</h2>
	<p>
		<img src="http://moms-saving-money.com/wp-content/uploads/2011/10/organized_mess.jpg" />
	</p>
</section>
<section>
	<section>
		<h2>La feuille de STyLE</h2>
		<p>
			<img src="http://meetjuliamitchell.com/wp-content/uploads/2010/06/eliminate_the_paper_mess.jpg">

		</p>
	</section>
	<section>
		<h2>VOus AVEZ</h2>
		<div>
			<ul>
				<li>
					<span>Une feuille ?</span>
				</li>
				<li>
					<span>Des selecteurs à rallonges ?</span>
				</li>
				<li>
					<span>Des propriétés à surcharger trop souvent ?</span>
				</li>
				<li>
					<span>De la soupe de propriétés ?</span>
				</li>
			</ul>
		</div>
	</section>
</section>
<section>
	<font face="comic sans ms">Et donc ?</font>
</section>
<section>
	<h2>Il faut</h2>
	<ul>
		<li>
			<span>Un structure</span>

		</li>
		<li>
			<span>Du réutilisable</span>

		</li>
		<li>
			<span>Des règles</span>

		</li>
		<li>
			<span>De la clarté</span>

		</li>
	</ul>
</section>
<section>
	<h2>Ce ne sont pas des solutions</h2>
	<ul>
		<li>
			<span>Framework CSS</span>
		</li>
		<li>
			<span>Pré-processeurs</span>

		</li>
	</ul>
</section>
<section>
	<h2>Mais Au FAIT LE PROBLEME C'est QUOI ?</h2>
</section>
<section>
	<h2>...le problème...</h2>
	<p>
		<br/><br/><br/><br/><br/>
		<h1>C'TOI</h1>
	</p>
</section>
<section>
	<h2>RAPPEL</h2>
	<div>

	</div>
	<div>Il faut souffrir pour être beau.</div>
</section>
<section>
	<h2>Du concret ?</h2>
	<div>

	</div>
	<div>
		<ol>
			<li>
				<span>Nommez</span>

			</li>
			<li>
				<span>Organisez</span>

			</li>
			<li>
				<span>Découpez</span>

			</li>
			<li>
				<span>DOCUMENTEZ</span>
			</li>
		</ol>
	</div>
</section>
<section>
	<h2>Et aussi</h2>
	<br />
	<p>BOSSER DUR</p>
	<br />
	<p>et surtout<br />surtout</p>
	<br /><br />
	<p>
		<b>RE-FA-CTO-RI-SEZ</b>
	</p>
	<br />
	<div>...bordel.</div>
</section>
<section>
	<section>
		<h2>1 # NOMMER</h2>
		<div>Une grosse partie du boulot de développeur est de trouver de bon nom.</div>
		<p>Qui parle.</p>
		<ol>
			<li>
				<b>Il vaut mieux trop que pas assez.</b>
			</li>
			<li>
				<b>Le nom ne doit pas dépendre du style.</b>
			</li>
		</ol>
	</section>
	<section>
		<h2># IDS</h2>
		ids.goto(trash)

		<p>Les ID c'est bon pour les penseurs.</p>
		<div>Ou les liens en fait.</div>
	</section>
	<section>
		<h2>#CLASS/SELECTOR TO AVOID</h2>
<pre><code>
<div>.title {}</div>
<div>.content {}</div>
<div>.content {}</div>
<div>.widget h3 {}</div>
</code></pre>
	</section>
	<section>
		<h2># THE WAY TO GO</h2>
<pre><code>
<div>.widget {}</div>
<div>.widget__title {}</div>
<div>
<span>.widget__title--smaller {}</span>
</div>
<div>.widget__body {}</div>
<div>
<span>.widget__body--large {}</span>
</div>
</code></pre>
	</section>
</section>
<section>
		<section>
			<h2>2 # Organiser</h2>
			<div>/styleguide</div>
			<ul>
				<li>
					<span>styleguide/_colors.scss</span>

				</li>
				<li>
					<span>styleguide/_fonts.scss</span>

				</li>
				<li>
					<span>styleguide/_typography.scss</span>

				</li>
				<li>
					<span>styleguide/_buttons.scss</span>

				</li>
				<li>
					<span>styleguide/_forms.scss</span>

				</li>
				<li>
					<span>styleguide/_icons.scss</span>

				</li>
				<li>
					<span>styleguide/_grid.scss</span>

				</li>
				<li>
					<span>styleguide/_navigation.scss</span>

				</li>
				<li>
					<span>styleguide/_listing.scss</span>

				</li>
				<li>
					<span>styleguide/_labels.scss</span>

				</li>
				<li>
					<span>styleguide/_boxes.scss</span>

				</li>
				<li>
					<span>styleguide/_pagination.scss</span>

				</li>
			</ul>
		</section>
		<section>
			<h2>/pages</h2>
			<h2>/UTILITIES</h2>
			<div>...</div>
		</section>
		<section>
			<h2 style="font-style: normal;font-variant: normal;">REUTILISEZ</h2>
			<div>

			</div>
			<div>Il faut "juste" une bonne librarie (de mixins éventuellement)</div>
			<div>

			</div>
			<div>Compass (le gros et ses plugins)</div>
			<div>ou</div>
			<div>Fonzie (les petits)</div>
			<div>

			</div>
			<div>+ La votre...</div>
		</section>
	</section>
	<section>
		<h2>3 # DECOUPER</h2>
		<div>

		</div>
		<div>On ne doit pas deviner la structure HTML dans vos CSS.</div>
		<div>Parce qu'on s'en balance.&nbsp;</div>
		<div>

		</div>
		<div>
			<b>CSS ne doit pas dépendre d'une structure HTML</b>
		</div>
	</section>
	<section>
		<section>
			<h2>4 # DOCUMENTEZ</h2>
			<div>

			</div>
			<div>

			</div>
			<div>

			</div>
			<div>

			</div>
			<div>

			</div>
			<div>Et oui.</div>
		</section>
		<section>    <h2>Documenter ses CSS ?</h2>
	<div>

	</div>
	<div>

	</div>
	<div>
		<a href="https://github.com/darcyclarke/dss">DSS</a>&nbsp;et&nbsp;<a href="https://github.com/darcyclarke/grunt-dss">sa tâche Grunt</a>&nbsp;:)</div>
		<div>

		</div>
		<div>ou</div>
		<div>

		</div>
		<div>
			<a href="https://github.com/kneath/kss">KSS</a>
		</div>
		<div>
			<span>
				<a href="http://kaleistyleguide.com/">kaleistyleguide</a>
			</span>
		</div>
		<div>
			<span>
				<a href="http://jacobrask.github.io/styledocco/">styledocco</a>
			</span>
		</div>
		<div>

		</div>
		<div>http://24ways.org/2011/front-end-style-guides/
		</div>
	</section>
	<section>
		<h2># STYLEGUIDES IDEAS</h2>
		<div>

		</div>
		<div>
			<span>https://github.com/necolas/idiomatic-css</span>

		</div>
		<div>https://github.com/ginatrapani/ThinkUp/wiki/Code-Style-Guide:-CSS
		</div>
		<div>

		</div>
		<div>https://github.com/styleguide/css
		</div>
		<div>

		</div>
	</section>
</section>

<section>
	<h1>Bonus</h1>
	<a href="https://github.com/MoOx/moox.io/blob/e46b400583db22674ca6e658a54597f2ce821fd2/src/blog/_drafts/CSS-refactorisation.html.hbs">Truc et astuces pour refactoriser une CSS bien moche</a>
	<small>Bientôt dans un post</small>
</section>

<section>
	<h1>Nettoyer vos CSS !</h1>
	<h3>By @MoOx on <a href="https://twitter.com/MoOx">Twitter</a> &amp; <a href="https://github.com/MoOx">Github</a>/ Maxime Thirouin / <a href="http://moox.io/">moox.io</a></h3>
</section>
