---
title: "Posts written by MoOx, a freelance front-end web developer"
nav: blog
---

{{#extend "layout"}}
  {{#append "header"}}
    <h1 class="mx-Header-body-title mx-Text--light mx-Text--thin mx-Title--light grid__cell unit-8-12--medium">
        <div class="mx-Header-left mx-Header-left--quote">MoOx posts...</div>
        <div class="mx-Header-right mx-Header-right--quote">... where he talks about web &amp; dev</div>
    </h1>
  {{/append}}
  {{#append "body"}}
    <div class="mx-Body grid">
    <div class="grid__cell unit-1-2--medium">
      <h2>Posts written elsewhere</h2>
      <ul class="Posts">
        <li class="Posts-item">
          <a href="http://putaindecode.fr/posts/wordpress/webpack/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            Gérer son thème WordPress avec Webpack
          </a>
        </li>
        <li class="Posts-item">
          <a href="http://putaindecode.fr/posts/webpack/premier-exemple/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            Premier exemple d'utilisation de Webpack
          </a>
        </li>
        <li class="Posts-item">
          <a href="http://putaindecode.fr/posts/webpack/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            Webpack
          </a>
        </li>
        <li class="Posts-item">
          <a href="http://putaindecode.fr/posts/ci/le-deploiement-continu/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            Introduction au déploiement continu
          </a>
        </li>
        <li class="Posts-item">
          <a href="http://putaindecode.fr/posts/ci/introduction/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            Qu'est-ce que l'intégration continue ?
          </a>
        </li>
        <li class="Posts-item">
          <a href="http://putaindecode.fr/posts/js/utiliser-react-en-moteur-de-templates/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            Utiliser React en moteur de templates
          </a>
        </li>
        <li class="Posts-item">
          <a href="http://putaindecode.fr/posts/vim/il-demarre-vim-par-erreur-ce-qui-se-passe-ensuite-est-tout-simplement-bluffant/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            Il démarre Vim par erreur, ce qui se passe ensuite est tout simplement bluffant
          </a>
        </li>
        <li class="Posts-item">
          <a href="http://putaindecode.fr/posts/entreprendre/auto-entrepreneuriat-retour-experiences/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            L'auto-entrepreneuriat : retour d'expériences
          </a>
        </li>
        <li class="Posts-item">
          <a href="http://putaindecode.fr/posts/css/preprocesseur-a-la-carte/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            Faire son préprocesseur CSS à la carte
          </a>
        </li>
        <li class="Posts-item">
          <a href="http://putaindecode.fr/posts/js/introduction-gulp/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            Introduction à Gulp
          </a>
        </li>
        <li class="Posts-item">
          <a href="http://putaindecode.fr/posts/css/les-post-processeurs/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            Les post-processeurs CSS
          </a>
        </li>
        <li class="Posts-item">
          <a href="http://putaindecode.fr/posts/css/le-point-sur-les-preprocesseurs/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            Le point sur les pré-processeurs CSS
          </a>
        </li>
        <li class="Posts-item">
          <a href="http://putaindecode.fr/posts/css/mise-en-place-autoprefixer/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            Mise en place d’autoprefixer
          </a>
        </li>
        <li class="Posts-item">
          <a href="http://putaindecode.fr/posts/css/comment-en-finir-avec-les-prefixes/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            Comment en finir avec les préfixes CSS
          </a>
        </li>
        <li class="Posts-item">
          <a href="http://putaindecode.fr/posts/js/browserify-all-the-things/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            BROWSERIFY ALL THE THINGS
          </a>
        </li>
        <li class="Posts-item">
          <a href="http://www.24joursdeweb.fr/2013/automatisez-votre-workflow-front-end/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            Automatisez votre workflow front-end
          </a>
        </li>
        <li class="Posts-item">
          <a href="http://putaindecode.fr/posts/html/hache-the-aime-elle-vous-dites/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
            HTML ? Hâche-Thé-Aime-Elle vous dites ?
          </a>
        </li>
      </ul>
    </div>
      <div class="grid__cell unit-1-2--medium">
        <h2>Posts</h2>
        <ul class="Posts">
        {{#posts pages}}
          <li class="Posts-item">
            <a href="{{url this.dest}}" class="title">
              <span class="mx-Text--lessVisible">[{{ data.lang }}]</span>
              {{ data.title }}
            </a>
          </li>
        {{/posts}}
        </ul>
      </div>
    </div>
  {{/append}}
{{/extend}}
