---
layout: default.hbs
title: Contacter Maxime Thirouin (MoOx) Développeur Web Front-End
class: stretch-img grid-title--quotes
nav: contact
---
<div class="grid grid--center grid--title">
	<hgroup class="grid__cell unit-6-12--medium title--light">
		<h1><i class="icon icon_speech-bubbles"></i> Get in touch</h1>
		<h2>with a cool web developer</h1>
	</hgroup>
</div>

<div class="grid grid--blabla">
	<div class="grid__cell unit-1-2--medium">
    <div class="Box">
  		<div class="Box-module">
  			<h2>Contact me</h2>
  			<p>
  				Here, no contact form, sorry spammers.
  				<br />
  				But wait ! There is so many way to get in touch with me !
  			</p>
  			<p>
  				You can ping me on <a href="https://twitter.com/MoOx">Twitter </a>
          and <a href="http://www.linkedin.com/in/maxthirouin">Linkedin</a>,
          or find a mail address on <a href="https://github.com/MoOx">my Github profile</a>.
          <br />
          Maybe you would rather <a href="skype:maxime.thirouin?add">call me on Skype</a>
          or directly on my <a href="tel:+33678135439" title="+33678135439" class="hint" data-hint="+33 6 78 13 54 39">phone</a> ?
        </p>
        <p>
          Anyway, you can also drop me a mail to <b>m (at) <i>this domain</i></b>.
  			</p>
{{> big-icons }}
      </div>
		</div>
    
    {{> availability-status }}
    
	</div>
  
	<div class="grid__cell unit-1-2--medium stretch-img_column">
		<span data-picture data-alt="MoOx photo">
			<span data-src="{{ happyplan.baseUrls.images }}/moox/contact-200x.png"></span>
			<span data-src="{{ happyplan.baseUrls.images }}/moox/contact-400x.png" data-media="(min-width: 55em)"></span>
			<noscript><img class="stretch-img_column_img" alt="MoOx photo" src="{{ happyplan.baseUrls.images }}/moox/contact-400x.png" /></noscript>
		</span>
	</div>
</div>
