---
lang: fr
layout: slide.hbs
title: Avant et après Grunt.js
type: slides
date: 2013-01-23
---
<section>
	<h1>Grunt.js</h1>
	<h3>Avant / Après</h3>

	<small><a href="https://github.com/MoOx/moox.io/blob/master/{{ this.page.src }}">Slides Source</a></small>
</section>

<section>
	<h2>Aujourd'hui comment travaille un dev front-end ?</h2>
	<p>HTML</p>
	<p>CSS</p>
	<p>JS</p>
	<p>Media (images <small>principalement</small>)</p>
</section>
<section>
	<h2>... Avec différents outils...</h2>
	<p></p>
	<ul>
		<li>pré-processeur CSS</li>
		<li>optimiseurs d'images</li>
		<li>générateurs de fonts</li>
		<li>pré-processeur JS</li>
		<li>linters</li>
		<li>livereload</li>
		<li>tests</li>
		<li>docs</li>
		<li>...</li>
	</ul>
</section>
<section>
	<h2>... Et différentes commandes</h2>
	<ul>
		<li>sass/compass, stylus, <small>less</small></li>
		<li>jpegtran, optipng...</li>
		<li>fontforge</li>
		<li>coffeescript</li>
		<li>...</li>
	</ul>
</section>

<section>
	<h2>Grunt.js</h2>
	<img src="/{{dirname this.page.dest}}/img/logo.png" alt="" />
	<br />
	<quote>Grunt is a task-based command line build tool <br /><strike>for JavaScript projects</strike></quote>
</section>

<section>
	<h3>Le nom Grunt provient de Warcraft 3</h3>
	<img src="/{{dirname this.page.dest}}/img/warcraft_peon.png" alt="Peon de Warcraft 3" />
	<br />
	<img src="/{{dirname this.page.dest}}/img/peon-bois2.jpg" alt="Peon coupant du bois" />
	<br />
	<small>Confirmé par <a href="https://github.com/cowboy">ben_alman</a>, créateur de Grunt.js</small>
</section>

<section>
	<h2>Après Grunt ?</h2>
	<ol>
		<li>Préprocessing ? Grunt</li>
		<li>Tests ? Grunt</li>
		<li>csslint ? js(h|l)int ? Grunt</li>
		<li>...</li>
	</ol>
</section>

<section>
	<h2>Installation</h2>
	<h3> (OS X/Homebrew)</h3>
	<pre><code class="language-bash">$ brew install node
$ curl http://npmjs.org/install.sh | sh
$ npm install -g grunt-cli
$ npm install grunt --save-dev
$ npm install {what-you-want}
	</code></pre>
	<small>Ca ne doit pas être bien difficile de trouver pour Linux, peut être un peu plus pour Windows</small>
</section>

<section>
	<h2>Gruntfile.js</h2>
	<h3>Config à la Makefile</h3>
	<a href="https://github.com/gruntjs/grunt/blob/master/Gruntfile.js">Gruntfile.js de Grunt.js <small>Oui Grunt s'utilise lui même !</small></a>
	<a href="https://github.com/kud/blog/blob/src/Gruntfile.js">Exemple de gruntfile pour un blog jekyll <small>par <a href="https://twitter.com/_kud">_kud</a></small></a>
</section>


<section>
	<h2>Run ?</h2>
	<pre><code class="language-bash">$ grunt {task}</code></pre>
</section>

<section>
	<h2>Stellar Links</h2>
	<ul>
		<li><a href="http://gruntjs.com/">Grunt.js</a></li>
		<li><a href="https://github.com/gruntjs">Grunt.js sur Github</li>
		<li><a href="https://twitter.com/MoOx">Follow me on Twitter</a></li>
		<li><a href="https://github.com/aperoweb-toulouse/talks/issues">Proposez vos talks sur Toulouse</a></li>
		<li>##web-fr-toulouse sur irc.freenode.net</a></li>
	</ul>
</section>

<section>
	<h1>Enjoy !</h1>
	<h3>By @MoOx on <a href="https://twitter.com/MoOx">Twitter</a> &amp; <a href="https://github.com/MoOx">Github</a>/ Maxime Thirouin / <a href="http://moox.io/">moox.io</a></h3>
</section>
