



$icons--big-size: 4em;
.icons--big {
  text-align: center;
  margin: 1rem auto !important;
  font-size: $icons--big-size;
  line-height: 1;

  a {
    position: relative;
    display: inline-block;
    transition: all .2s;
    //@include ceaser-transition($easeInOutBack, all, .3s);

    @include accessibleHover {
      .text {
        transform: translateY($icons--big-size*1.1);
        opacity: 1;
      }
    }
  }

    .icon {
      display: inline-block;
      margin: 0 .2em;
    }

    .text {
      //color: $text-color;
      font-weight: bold;
      font-size: .25em;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transform:  translateY(0%);
      //@include ceaser-transition($easeInOutBack, all, .3s);
    }
}

  .mx-StretchImg {
    padding-top: 1em;
    vertical-align: bottom;

    $mooxSmallMaxWidth: 200px;
    img {
      display: block;
      margin: auto;
      max-width: $mooxSmallMaxWidth;
      //@include crp-Media-min($mooxSmallMaxWidth) { max-width: 110%; }
      @include crp-Media-m { max-width: 100%; }
    }
  }

// stretch layout on home for moox img
@media (min-height: 50em) and (min-width: $crp-Media-size-m) {
  .mx--StretchImg,
  body {
    height: 100%;
  }

  .mx--StretchImg {
    .mx-Header {
      padding-top: $Navbar-height + 6em;
      height: 30%;
    }

    .mx-Content { height: 70%; }
  }

  .mx-StretchImg {
    position: static;
    padding-top: 0;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      max-width: none;
    }
  }
}
