.mx-Post blockquote {
  margin: 2em 2em;
  padding: 1em 2em;
  font-style: italic;
  opacity: .7;
  position: relative;
}
  $quotes-font-size: 6rem;
  .mx-Post blockquote::before,
  .mx-Post blockquote::after {
    line-height: 1rem;
    z-index: 2;
    position: absolute;
    font-size: $quotes-font-size;
    opacity: .3;
  }

  .mx-Post blockquote::before {
    content: "\201C";
    left: -1.6rem;
  }

  .mx-Post blockquote::after {
    content: "\201D";
    right: -1.6rem;
  }
