.mx-Content {
  position: relative;
  padding: 1rem 1rem 2rem;
  @include crp-Media-m { padding: 2rem 1em 4rem }

  transition: .5s;
  //overflow: hidden;
}

  .mx--contact .mx-Content {
    padding: 1rem 1rem 0;
    @include crp-Media-m { padding: 2rem 1em 0 }
  }

.mx-Body {
  position: relative;

  // add max-width for center layout
  // @include crp-Media-m {
    margin: auto;
    max-width: 1024px;
  // }
}

.mx-Img,
.mx-Img img {
  display: block;
  max-width: 100%
}

.mx-Separator,
.mx-SeparatorBefore::before,
.mx-SeparatorAfter::after {
  content: "";
  z-index: 1;
  display: block;
  clear: both;
  border : 0;
  height: 5px;
  margin: 0;
  background: $mx-Color-green;
  background: linear-gradient(to right, $mx-Color-green, $mx-Color-blue);
}

  .mx-Separator--animated,
  .mx-SeparatorBefore--animated::before,
  .mx-SeparatorAfter--animated::after {
    background: $mx-Color-blue;
    background: linear-gradient(to right, $mx-Color-green, $mx-Color-blue, $mx-Color-green);
    background-size: 200% 100%;
    animation: 2s linear 0s normal none infinite mx-Separator--animation
  }
  @keyframes mx-Separator--animation {
    0% { background-position: 100% 100% }

    50% { background-position: 0% 100% }

    100% { background-position: -100% 100% }
  }


  .mx-Separator--thin,
  .mx-SeparatorBefore--thin::before,
  .mx-SeparatorAfter--thin::after { height: 1px}

  .mx-Separator--alt,
  .mx-SeparatorBefore--alt::before,
  .mx-SeparatorAfter--alt::after {
    background: $mx-Color-blue;
    background: linear-gradient(to right, $mx-Color-blue, $mx-Color-green);
  }

.js-Pjax-child {
  width: 100%;
  transition: .1s;
}

.js-Pjax-child--willChange {
  opacity: .5;
}
.js-Pjax-remove {
  position: absolute;
  left: 50%;
  // can't be used since we translate for the remove effect
  // transform: translateX(-50%)
  // margin-left: -width/2; // made with js
}
