.mx-Footer {
  position: relative;
  background: #314217;

  @include crp-Media-m {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:before { position: absolute }
}

  .error-404 .mx-Footer { background: transparent; box-shadow: none; border: 0 }
  .error-404 .mx-Footer::before { content: none }

  .mx-Footer .mx-Separator { position: relative }

  .mx-Footer a {
    color: #fff;
    padding-bottom: 0
  }
  .mx-Footer a:hover,
  .mx-Footer a:focus { color: $mx-Color-green }

  .mx-Footer-body {
    padding: $line-height 0;
    line-height: $line-height*2;
    overflow-x: hidden;
  }

  .mx-IconLink {
    color: #fff;
    font-size: 2rem;
    border: 0;
  }

    .mx-IconLink + .mx-IconLink { margin-left: 1em }
