.mx-Header {
  position: relative;

  padding: $Navbar-height 1em 0;
  transition: height .5s;

  background: #51794d linear-gradient(#51794d, #4c662e);
}

.mx-Header + .mx-Separator { box-shadow: 0 0 1rem rgba(#000, .3) }

  .error-404 .mx-Header { background: transparent; box-shadow: none; border: 0 }
  .error-404 .mx-Header::after { content: none }

    .mx-Header-body {
      display: table;
      // height: 100%;
    }

      .mx-Header-body-title {
        display: table-cell;
        vertical-align: middle;
        padding: 1rem;

        @include crp-Media-m { padding: 4em 1em }
        @include crp-Media-m { padding: 4rem 1rem 6rem }
      }

    @include crp-Media-m {
      .mx-Header-left { text-align: left; }
      .mx-Header-center { text-align: center; }
      .mx-Header-right { text-align: right; }

      .mx-Header-left,
      .mx-Header-left:before,
      .mx-Header-center,
      .mx-Header-right,
      .mx-Header-right:after {
        //z-index: 2;
        position: relative;
      }

      .mx-Header-left--quote:before,
      .mx-Header-right--quote:after {
        position: absolute;
        opacity: .6;
        font-size: 4rem;
        font-weight: normal;
      }

      .mx-Header-left--quote:before {
        content: "\201C";
        left: -3rem;
        top: -1.2rem;
      }

      .mx-Header-right--quote:after {
        content: "\201D";
        right: -3rem;
        top: -.8rem;
      }
    }

  .mx-Header-picture {
    display: block;
    margin: 0 auto -3em;
    width: 160px; //IE8
    height: 160px; //IE8
    width: 10rem;
    height: 10rem;
    border: .2rem solid #fff;

    border-radius: 50%;
  }

  @include crp-Media-m { .mx-Header-picture {
    position: absolute;
    left: 50%;
    bottom: -80px; //IE8
    bottom: -5rem;
    margin: 0 0 0 -80px; //IE8
    margin: 0 0 0 -5rem;
  }}
