$Navbar-height: 4rem;
$Navbar__item--font-size: .9rem;

$Navbar-separator: false;

@import "../components/nav";
@import "../components/glowing-indicator";

.Navbar {
  position: absolute;
  [href="#not-ready"] { color: rgba(#fff, .3) !important; }
  font-size: 1rem;
}

  .Navbar .icon { font-size: 1.2em; }

  .Navbar--top {
    //border-bottom: 0.1rem solid $mx-Color-greenEmerald;
    // background: $mx-Color-green;
    // background: linear-gradient(to right, rgba($mx-Color-green, .8), rgba($mx-Color-blue, .8));
    text-shadow: 0 1px 0 rgba(#000, .6);
    // box-shadow: 0 .2em .6em rgba(#000, .4);
    @include crp-Media-l { font-size: 1.1em;}
  }

  .Navbar-section {
    a {
      font-size: $Navbar__item--font-size;
      border: 0;
      font-weight: 400;
      border-bottom: 1px solid transparent;

      @include crp-Media-min($Navbar-screen-breakpoint) { padding: 0 1em; }
    }

    a:hover {
      border-bottom-color: #fff;
    }

    .active {
      border-bottom-color: #ddd;
    }
  }

  .Navbar-toggler {
    top: .6rem;
    right: .7rem;

    font-size: 2.6rem;
    font-weight: 300;
    text-shadow: 0 1px 0 rgba(#000, .6);

    border: 0;
    padding: 0;
    // border: 1px solid #fff;
    // border-radius: .2rem;
    // padding: 0 0.4rem 0.2rem;
    // box-shadow: 0 1px 0 rgba(#000, .2), inset 0 1px 0 rgba(#000, .2);

    .icon { vertical-align: top }
  }

  @include crp-Media-max($Navbar-screen-breakpoint) {
    .js-Togglable--toggled {
      background: #51794d;
      background: #51794d linear-gradient(#51794d, #4c662e);
      box-shadow: 0 0 2rem rgba(#000, .4);
    }
  }

  .js {
    // @include crp-Media-max($Navbar-screen-breakpoint) {
      .js-Togglable-toggler { display: inline-block; }
      .js-Togglable-item--hide { display: none; }
    // }

    @include crp-Media-min($Navbar-screen-breakpoint) {
      .js-Togglable-toggler { display: none; }
      .js-Togglable-item--hide { display: inline-block; }
    }
  }

////

$SiteLogo-title--font-size: 1.4em;
.SiteLogo {
  line-height: 1;
  padding: .9em 0;
  display: block;

  border-bottom: 0;
}

  .SiteLogo-title,
  .SiteLogo-description {
    line-height: 1;

    color: #fff;
    &:hover { color: #fff; }
  }

    .SiteLogo-title {
      font-weight: 200;
      font-size: $SiteLogo-title--font-size;
    }

    .SiteLogo-description {
      font-weight: 400;
      margin-top: -1.2em;

      @media (max-width: 20rem) { visibility: hidden }
    }
