@import "components/nav";
@import "components/glowing-indicator";
$navbar__item--font-size: .8em;

.navbar--top {
	@include box-shadow(0 .2em .6em rgba(#000, .8));
	@include media-l { font-size: 1.1em;}

	.active {
		position: relative;
		overflow: hidden;

		vertical-align: middle; // FIX Firefox alignment bug https://bugzilla.mozilla.org/show_bug.cgi?id=491549

		&::after {
			@include glowing-indicator-pseudo-element-requirements($highlight-color);
			@include glowing-indicator-pseudo-element-position(left);
			@include media-m {
				// disable previous style
				top: auto;
				left: auto;
				margin-top: 0;
				@include glowing-indicator-pseudo-element-position(bottom);
			}
		}
	}
}

.navbar__section {
	a {
		font-size: $navbar__item--font-size;
		padding: 0 .5*$grid-gutter*$unit/$navbar__item--font-size;
		@include media-gap ($screen-s, $screen-m) { padding: 0 $grid-gutter*$unit/$navbar__item--font-size; }
	}
}

.navbar__toggler {
	padding: 0 .5*$grid-gutter*$unit/($navbar-height*$navbar__toggler-ratio);
	@include media-gap ($screen-s, $screen-m) { padding: 0 $grid-gutter*$unit/($navbar-height*$navbar__toggler-ratio); }
}
