<!DOCTYPE html>
<!--
	HEY YOU, STOP LOOKING AT MY SOURCE CODE
	Just check it out directly on Github :
	https://github.com/MoOx/moox.io
-->
<html lang="en" class="no-js no-touch {{ page.class }}">
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<script>(function(docEl) {
	docEl.className = docEl.className.replace(/\bno-js\b/, 'js');
	if ('ontouchstart' in docEl) { docEl.className = docEl.className.replace(/\bno-touch\b/, 'touch'); }
})(document.documentElement);</script>
{% include head.html %}
<body>
{{ site.happyplan.html.hooks.body_open }}
{% comment %}
<div class="annonce-box">
	<small></small>
</div>
{% endcomment %}
<a class="source-code" href="https://github.com/MoOx/moox.io">source code</a>
{% include nav.html %}
<div class="body-wrapper">
{{ content }}
</div>
{{ site.happyplan.html.hooks.body_close }}
{% include scripts/google-analytics.html %}
{% include scripts/disqus.html %}
</body>
</html>
