/**
 * Vertical rhythm
 *
 * http://type-scale.com/?size=20&scale=1.200&text=A%20Visual%20Type%20Scale&webfont=&font-family=sans-serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=#333
 */
$font-size: 0.833rem;
$line-height: 1.5625rem;


body {
  font-size: $font-size;
  line-height: $line-height;
}

p, ul { margin: $line-height 0 }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  margin: 0 0 $line-height;
  line-height: $line-height*2;
}

/* scale: 1.200 (minor third) */
h1, .h1 { font-size: 2.074rem }
h2, .h2 { font-size: 1.728rem }
h3, .h3 { font-size: 1.44rem }
h4, .h4 { font-size: 1.2rem }
small, .small { font-size: 0.833em } /* not rem so you can use .small in .small */

/* ... and now just use $line-height when you need some vertical spacing ! */


/**
 * Global typography styles
 */

body {
  //@extend %crp-FontSmoothing; //libsass bug
  @include crp-FontSmoothing();

  color: $text-color--dark;
  text-shadow: 0 1px 0 rgba(#fff, .8);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; /* https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
}

// p {
//   margin: 0 0 1rem
// }

$mx-Link-color: darken($highlight-color, 5%);
a {
  text-decoration: none;

  color: $mx-Link-color;
  &:hover { color: darken($mx-Link-color, 10%); }
  &:focus { color: darken($mx-Link-color, 10%); }
  &:active { color: lighten($mx-Link-color, 5%); }
  //&:visited { color: lighten($highlight-color, 2%); }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 400;
}

/* custom helpers */
.mx-Heading--small {
  font-size: 1rem;
  color: #c1c1c1;
  line-height: inherit;
}

.mx-TextLeft { text-align: left }
.mx-TextCenter { text-align: center }
.mx-TextRight { text-align: right }


@include crp-Media-m {
  .mx-TextLeft--m { text-align: left }
  .mx-TextCenter--m { text-align: center }
  .mx-TextRight--m { text-align: right }
}

.mx-Text--thin {
  font-weight: 200;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  letter-spacing: 0.01rem;
}

.mx-Text--light {
  color: $text-color--light;
  text-shadow: 0 1px 0 rgba(#000, .8);
}

.mx-Text--dark {
  color: $text-color--dark;
  text-shadow: 0 1px 0 rgba(#fff, .8);
}

.mx-Text--lessVisible {
  font-size: .833em;
  opacity: .8;
}

.mx-Title--light {
  color: #eee;
  text-shadow: 0 1px 0 #000;
}
