@import "recipes/utilities/clearfix";
@import "bower_components/dimension.css";
//@import "bower_components";

//$screen-debug: true;

$unit: 1em; // used for grid/font ratio maths with em

$base-font-size: 14px;
$base-font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// palette from http://www.pantone-france.com/pages/index.aspx?pg=21055
// Emerald mood "Energize"
$mx-Color-greenLime: #bed736;
$mx-Color-greenLeaf: #6dcb54;
$mx-Color-green: #00a15d;
$mx-Color-greenEmerald: #009776;
$mx-Color-greenBlue: #00adae;

$text-color: #eee;
$highlight-color: $mx-Color-greenLeaf;// was #5da423;
$dark-color: #222;

$mx-borderRadius: 4px;

%mx-Text--light {
	color: $text-color;
	text-shadow: 0 1px 0 rgba(#000, .8);
}

%mx-Text--dark {
	color: $text-color;
	text-shadow: 0 1px 0 rgba(#fff, .8);
}

@import "compass/typography/links/link-colors";
a {
	$link-color: darken($highlight-color, 5%);
	text-decoration: none;
	@include link-colors(
		$link-color,
		$hover: darken($link-color, 4%),
		$focus: darken($link-color, 10%),
		$active: lighten($link-color, 5%)//,
		//$visited: lighten($highlight-color, 2%)
	);
}

@import "base";

@mixin accessibleHover {
	&:hover,
	&:focus,
	.touch & {
		@content;
	}
}

@mixin html-background($background-image--small, $background-image--large) {
	background: image-url($background-image--small) no-repeat center fixed;
	background-size: cover;

	@media (min-width: 50em) {
		background-image: image-url($background-image--large);
	}
}

html {
	@extend %mx-Text--light;
	@include html-background('forest-ruins--small.jpg', 'forest-ruins--large.jpg');
	//&:hover { @include html-background('perfection-cold-blur--small.jpg', 'forest.jpg'); }
	
	&.error-404 { @include html-background('lost-woods--small.jpg', 'lost-woods--large.jpg'); }
}


body {
	font-size: 90%;
	@include media-m { font-size: 100%; }
	//@include media-l { font-size: 110%; }
	-webkit-font-smoothing: antialiased;
}

.body-wrapper {
	position: relative;
	
	// hide grid negative padding on xs screen
	padding: 0 0.5 * $grid-gutter;

	// add a tiny grid padding
	@include media-s { padding: 0 $grid-gutter; }

	// add max-width for center layout
	@include media-m {
		margin: auto;
		max-width: 1024px;
	}

	// remove padding previously set on large screen (useless)
	@include media-l { padding: 0; }
}

h1,
h2,
h3,
h4,
.annonce-box,
.Navbar { -webkit-font-smoothing: antialiased; }

.title--light {
	color: #fff;
	text-shadow: 0 1px 0 #000;
}

.text-less-visible {
	font-size: .8em;
	opacity: .6;
}

@import "layout/annonce";

@import "layout/boxes";
@import "layout/nav";

// h1,
// h2,
// h3 { @include text-gradient($secondaryColor, matte); }

@import "components/ribbon-corner";
.source-code {
	display: none;

	@include media-m {
		display: block;
		@include effect-ribbon-corner($position: 'bottom right', $width: 10em, $skin: null);
		padding: 0 2em;
		position: fixed;
		z-index: 1;
		@include transition(all .2s);
		opacity: .2;
		@include accessibleHover { opacity: 1; }
		white-space: nowrap;
		@include ribbon-corner-classic();
	}
}

@import "layout/big-content";

@import "layout/blockquote";

@import "pygments-theme-freshcut";

@import "components/flex-media";
$flex-media-ratios: "3-1" 3, "16-9" 16/9, "4-3" 4/3, "1-1" 1;
@include flex-medias();

@import "components/tooltip";
