:not(.Animated).Animate {
  animation-name: none;
}

.Animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

.Animated--reverse { animation-direction: reverse }

.Animate--xfast { animation-duration: .2s }
.Animate--fast { animation-duration: .5s }
.Animate--slow { animation-duration: 2s }
.Animate--xslow { animation-duration: 4s }

// .Animated { animation-timing-function: cubic-bezier(0, 0.285, 0, 1) }

.Animate--delay-xxxs { animation-delay: .2s;  }
.Animate--delay-xxs { animation-delay: .4s;  }
.Animate--delay-xs { animation-delay: .6s;  }
.Animate--delay-s { animation-delay: .8s;  }
.Animate--delay-m { animation-delay: 1s;  }
.Animate--delay-l { animation-delay: 1.4s;  }
.Animate--delay-xl { animation-delay: 1.8s;  }
.Animate--delay-xxl { animation-delay: 2.2s;  }
.Animate--delay-xxxl { animation-delay: 2.6s;  }
.Animate--noDelay { animation-delay: 0s !important;  }

.Transite--delay-xxxs { transition-delay: .2s;  }
.Transite--delay-xxs { transition-delay: .4s;  }
.Transite--delay-xs { transition-delay: .6s;  }
.Transite--delay-s { transition-delay: .8s;  }
.Transite--delay-m { transition-delay: 1s;  }
.Transite--delay-l { transition-delay: 1.4s;  }
.Transite--delay-xl { transition-delay: 1.8s;  }
.Transite--delay-xxl { transition-delay: 2.2s;  }
.Transite--delay-xxxl { transition-delay: 2.6s;  }


.Animate--fadeInUp { animation-name: Animation-fadeInUp }
@keyframes Animation-fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Animate--fadeInUp--big { animation-name: Animation-fadeInUp--big }
@keyframes Animation-fadeInUp--big {
  0% {
    opacity: 0;
    transform: translateY(100rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Animate--slideInRight { animation-name: Animation-slideInRight }
@keyframes Animation-slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100rem);
  }

  100% {
    transform: translateX(0);
  }
}

.Animate--slideInLeft { animation-name: Animation-slideInLeft }
@keyframes Animation-slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100rem);
  }

  100% {
    transform: translateX(0);
  }
}

.Animate--fadeIn { animation-name: Animation-fadeIn }
@keyframes Animation-fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}


// @import "animate.css/source/attention_seekers/bounce.scss";
// @import "animate.css/source/attention_seekers/flash.scss";
// @import "animate.css/source/attention_seekers/pulse.scss";
// @import "animate.css/source/attention_seekers/rubberBand.scss";
// @import "animate.css/source/attention_seekers/shake.scss";
// @import "animate.css/source/attention_seekers/swing.scss";
// @import "animate.css/source/attention_seekers/tada.scss";
// @import "animate.css/source/attention_seekers/wobble.scss";

// @import "animate.css/source/bouncing_entrances/bounceIn.scss";
// @import "animate.css/source/bouncing_entrances/bounceInDown.scss";
// @import "animate.css/source/bouncing_entrances/bounceInLeft.scss";
// @import "animate.css/source/bouncing_entrances/bounceInRight.scss";
// @import "animate.css/source/bouncing_entrances/bounceInUp.scss";

@import "animate.css/source/bouncing_exits/bounceOut.scss";
// @import "animate.css/source/bouncing_exits/bounceOutDown.scss";
// @import "animate.css/source/bouncing_exits/bounceOutLeft.scss";
// @import "animate.css/source/bouncing_exits/bounceOutRight.scss";
// @import "animate.css/source/bouncing_exits/bounceOutUp.scss";

// @import "animate.css/source/fading_entrances/fadeIn.scss";
// @import "animate.css/source/fading_entrances/fadeInDown.scss";
// @import "animate.css/source/fading_entrances/fadeInDownBig.scss";
// @import "animate.css/source/fading_entrances/fadeInLeft.scss";
// @import "animate.css/source/fading_entrances/fadeInLeftBig.scss";
// @import "animate.css/source/fading_entrances/fadeInRight.scss";
// @import "animate.css/source/fading_entrances/fadeInRightBig.scss";
// @import "animate.css/source/fading_entrances/fadeInUp.scss";
// @import "animate.css/source/fading_entrances/fadeInUpBig.scss";
//
// @import "animate.css/source/fading_exits/fadeOut.scss";
// @import "animate.css/source/fading_exits/fadeOutDown.scss";
// @import "animate.css/source/fading_exits/fadeOutDownBig.scss";
// @import "animate.css/source/fading_exits/fadeOutLeft.scss";
// @import "animate.css/source/fading_exits/fadeOutLeftBig.scss";
// @import "animate.css/source/fading_exits/fadeOutRight.scss";
// @import "animate.css/source/fading_exits/fadeOutRightBig.scss";
// @import "animate.css/source/fading_exits/fadeOutUp.scss";
// @import "animate.css/source/fading_exits/fadeOutUpBig.scss";

// @import "animate.css/source/flippers/flip.scss";
// @import "animate.css/source/flippers/flipInX.scss";
// @import "animate.css/source/flippers/flipInY.scss";
// @import "animate.css/source/flippers/flipOutX.scss";
// @import "animate.css/source/flippers/flipOutY.scss";
//
// @import "animate.css/source/lightspeed/lightspeedIn.scss";
// @import "animate.css/source/lightspeed/lightspeedOut.scss";
//
// @import "animate.css/source/rotating_entrances/rotateIn.scss";
// @import "animate.css/source/rotating_entrances/rotateInDownLeft.scss";
// @import "animate.css/source/rotating_entrances/rotateInDownRight.scss";
// @import "animate.css/source/rotating_entrances/rotateInUpLeft.scss";
// @import "animate.css/source/rotating_entrances/rotateInUpRight.scss";
//
// @import "animate.css/source/rotating_exits/rotateOut.scss";
// @import "animate.css/source/rotating_exits/rotateOutDownLeft.scss";
// @import "animate.css/source/rotating_exits/rotateOutDownRight.scss";
// @import "animate.css/source/rotating_exits/rotateOutUpLeft.scss";
// @import "animate.css/source/rotating_exits/rotateOutUpRight.scss";
//
// @import "animate.css/source/sliders/slideInDown.scss";
// @import "animate.css/source/sliders/slideInLeft.scss";
// @import "animate.css/source/sliders/slideInRight.scss";
// @import "animate.css/source/sliders/slideOutLeft.scss";
// @import "animate.css/source/sliders/slideOutRight.scss";
// @import "animate.css/source/sliders/slideOutUp.scss";
//
// @import "animate.css/source/specials/hinge.scss";
// @import "animate.css/source/specials/rollIn.scss";
// @import "animate.css/source/specials/rollOut.scss";
