$annonceBoxHeight: 2em;
.annonce-box {
	color: #fff;
	background: $highlight-color;
	border: 1px solid rgba(#000, .1);
	text-shadow: 0 -1px rgba(#000, .3);
	font-weight: bold;
	width: 100%;
	text-align: center;
	line-height: $annonceBoxHeight;
}

.AvailabilityStatus {
  position: relative;
  text-align: center;
  font-size: 1.1rem;

  display: table;
  width: 100%;
  max-width: 30rem;
  margin: $line-height auto;
  padding: $line-height/2;

  color: #fff !important;
  background: $mx-Color-green;
  background: linear-gradient(to bottom, $mx-Color-green, $mx-Color-green--darker);
  text-shadow: 0 1px 0 rgba(#000, .4);
  //border: .2rem solid $mx-Color-green;
  border: 0;
  border-radius: 2px;
  // font-weight: 600;
}

    .AvailabilityStatus-icon
  , .AvailabilityStatus-txt
    {
      display: table-cell;
      vertical-align: middle;
    }

      .AvailabilityStatus-icon
      {
        font-size: 3rem;
        line-height: 1;
        padding-right: 1rem;
      }

      .AvailabilityStatus-txt { border: 1px solid transparent }
      a.AvailabilityStatus:hover .AvailabilityStatus-txt { border-bottom-color: rgba(#fff, .4) }
