.mx-BackgroundImg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  transition: opacity 1s;
  transform: translateZ(0);

  // update twitter background when you update that & also colors :)
  // https://twitter.com/settings/design
  @media (max-width: 50.0000rem) { background-image: image-url('forest-ruins--portrait.jpg') }
  @media (min-width: 50.0625rem) { background-image: image-url('forest-ruins--landscape.jpg') }
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

// load background image only when image is charged (only if js can check it ;)
.js .mx-BackgroundImg.js-is-Loading { opacity: 0 }
.js .mx-BackgroundImg.js-is-Loaded { opacity: 1 }
