.mx--home {

}

  .mx--home .Browser { font-size: 1rem }
    .mx--home .Browser-viewport { height: 15rem }

.mx-List {
  text-align: left;
  padding-left: 1rem;
}

.mx-FeaturedLogos {
  margin-top: 2rem;
  padding: 1em 0 2rem;
  border: solid #e6e6e6;
  border-width: 1px 0;
  background: #f9f9f9;
}

  .mx-FeaturedLogos .grid__cell {
    vertical-align: middle;
  }

  .mx-FeaturedLogo {
    font-size: 2rem;
    text-align: center;
  }

    .mx-FeaturedLogo {
      display: inline-block;
      width: 100%;
      color: #c1c1c1;
      border: 0;
    }

.mx-FeaturedLogo img {
        display: inline-block;
        max-width: 80%;

        opacity: .1;
        // filter: url("#SvgFilter--grayscale");
      }

      .mx-FeaturedLogo:hover img {
        //  filter: none;
        opacity: .25;
      }

.mx-Testimonials {
  padding: 2rem 0 3rem;
}

  .mx-Testimonial { }

    .mx-Testimonial blockquote { margin: 0 }

      .mx-Testimonial blockquote p {
        font-style: italic;
        opacity: .8;
      }

        .mx-Testimonial blockquote p::before,
        .mx-Testimonial blockquote p::after {
          opacity: .4;
          font-weight: bold;
        }

        .mx-Testimonial blockquote p::before { content: "\201C  " }
        .mx-Testimonial blockquote p::after { content: " \201D" }

      .mx-Testimonial blockquote cite {
        font-style: normal;
      }
