.js-Pjax-child {
  width: 100%;
  transition: .1s;
}

.js-Pjax-child--willChange {
  opacity: .5;
}
.js-Pjax-remove {
  position: absolute;
  left: 50%;
  // can't be used since we translate for the remove effect
  // transform: translateX(-50%)
  // margin-left: -width/2; // made with js
}
