.mx-Separator,
.mx-SeparatorBefore::before,
.mx-SeparatorAfter::after {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  clear: both;
  border : 0;
  height: 5px;
  margin: 0;
  background: $mx-Color-green;
  background: linear-gradient(to right, $mx-Color-green, $mx-Color-blue);
}

  .mx-Separator--animated,
  .mx-SeparatorBefore--animated::before,
  .mx-SeparatorAfter--animated::after {
    background: $mx-Color-blue;
    background: linear-gradient(to right, $mx-Color-green, $mx-Color-blue, $mx-Color-green);
    background-size: 200% 100%;
    animation: 2s linear 0s normal none infinite mx-Separator--animation
  }
  @keyframes mx-Separator--animation {
    0% { background-position: 100% 100% }

    50% { background-position: 0% 100% }

    100% { background-position: -100% 100% }
  }

  hr.mx-Separator,
  .mx-Separator--thin,
  .mx-SeparatorBefore--thin::before,
  .mx-SeparatorAfter--thin::after { height: 1px }

  .mx-Separator--alt,
  .mx-SeparatorBefore--alt::before,
  .mx-SeparatorAfter--alt::after {
    background: $mx-Color-blue;
    background: linear-gradient(to right, $mx-Color-blue, $mx-Color-green);
  }

  hr.mx-Separator {
    margin: $line-height 0;
    margin: calc(#{$line-height} - .5px) 0;
    overflow: hidden; /* avoid margin collapse */
  }

  @include crp-Media-max($crp-Media-size-m) {
    .mx-Separator .mx-SocialButton {
      position: relative;
      top: -6.5rem;
      font-size: .75rem;
      font-weight: 200;
    }

    .mx-Separator .mx-SocialButton { left: -3.5rem }
    .mx-Separator .mx-SocialButton + .mx-SocialButton { left: auto; right: -3.5rem }
  }

  @include crp-Media-m {
    .mx-Separator .mx-SocialButton {
      position: relative;
      top: -2.75rem;
    }

    .mx-Separator .mx-SocialButton { left: -6rem }
    .mx-Separator .mx-SocialButton + .mx-SocialButton { left: auto; right: -6rem }
  }
