---
title: "About Maxime Thirouin, a freelance front-end web developer"
nav: about
---

{{#extend "layout"}}
  {{#append "header"}}
    <h1 class="mx-Header-body-title mx-Text--light mx-Text--thin mx-Title--light grid__cell unit-8-12--medium">
        <div class="mx-Header-left">About Maxime Thirouin, </div>
        <div class="mx-Header-right">a passionate front-end web developer</div>
    </h1>
  {{/append}}
  {{#append "body"}}
    <div class="mx-Body grid">
      <div class="grid__cell">
        <h2>About me</h2>

        <p>My name is <a href="#not-ready">Maxime Thirouin</a>, also known as <a href="https://github.com/MoOx">MoOx</a>, and I'm a french (front-end) web developer living in Toulouse, France.</p>

        <p>
          I like to work on the client-side, designing interfaces with <strong>CSS</strong> (using pre|post-processor like Sass or Rework) and programming awesome experiences with <strong>JavaScript</strong>. But I also do some back-end when it's needed no matter what the language is.
        </p>
        <p>
          I also like to share everything I learned: I enjoy giving some talks and I'm a <strong>teacher</strong> in my previous University.
        </p>
        <p>
          Beside that, I like to enjoy time with the love of my live, create stuff with my hands, take a walk in the forest or play paintball with my friends.
        </p>

        <figure>
          <div class="mx-Img flex-media--4-3">
            <img class="flex-media__item" src="{{ happyplan.baseUrls.media }}/me/Sub-Web-2013-2013-05-17T14-40-36-MADsGraphics-2013,large.jpg" alt="" />
          </div>
          <figcaption>Photo credits: <a href="http://madsgraphics.com/">Matthias Dugué</a>, taken during <a href="http://sudweb.fr/">SudWeb</a> 2013
        </figure>

        <!-- <h2>Behind the scene</h2> -->
        <!-- TODO -->
      </div>
    </div>
  {{/append}}
{{/extend}}
