---
layout: default.hbs
title: Développeur Web Front-End HTML5, CSS 3, Javascript
class: grid-title--quotes
nav: about
---
<header class="mx-Header">
  <div class="mx-Body grid grid--center">
    <hgroup class="grid__cell unit-8-12--medium title--light">
      <h1>About Maxime Thirouin</h1>
      <h2>Front-End Web Developer</h2>
    </hgroup>
  </div>
</header>

<div class="mx-Content mx-Body grid">
  <div class="grid__cell">
    <h2>About me</h2>

    <p>My name is <a href="#not-ready">Maxime Thirouin</a>, also known as <a href="https://github.com/MoOx">MoOx</a>, and I'm a french web developer living in Toulouse, France.</p>

    <p>
      <strong class="text--light">I like to work on the client-side, designing interfaces with CSS (using pre-processor like Sass with Compass) and programming awesome experiences with JavaScript. But I also do some back-end when it's needed no matter what the language is.</strong>
    </p>
    <p>
      I also like to share everything I learned: I enjoy giving some talks and I'm a teacher in my previous University.
    </p>
    <p>
      Beside that, I like to enjoy time with the love of my live, create stuff with my hands, take a walk in the forest or play paintball with my friends.
    </p>

    <!-- <h2>Behind the scene</h2> -->
    <!-- TODO -->
  </div>
</div>

{{> footer }}
