---
lang: fr
type: post
layout: post.hbs
comments: true

title: J'ai aimé SudWeb 2014
tags:
  - sudweb
  - conferences
date: 2014-05-20
---

{{#markdown}}

Ce qu’est trop bien à SudWeb, c’est la proximité. Pourvoir parler tranquillement
à tous les orateurs autour d’un bon buffet, c’est juste parfait.

Je comptais écrire un post super long et tout, mais Christophe Porteuneuve a fait
ça merveilleusement bien (et il m'évitera d'écrire plein de fautes).

[Sud Web 2014 : Petit Retour](http://www.js-attitude.fr/2014/05/17/sud-web-2014/) par Christophe Porteuneuve.

Je rajouterais que au départ je ne suis jamais trop emballé par le programme de SudWeb.
Je me suis même demandé si je n'allais pas rester chez moi. Je chercher toujours
des confs techniques alors que je ne suis pas certains d'en avoir besoin. Par contre le reste...

Mais quelle connerie ça aurait été de rester chez moi. Vraiment.

Pour résumer, voici une citation qui résume bien (une partie de) SudWeb.

<blockquote>
  <p>SudWeb, c’est les vacances du travail.</p>
  <footer>
    <cite>— Lionel</cite>
  </footer>
</blockquote>

**Merci à toute la petite équipe de SudWeb.** Et aussi à tous les gens avec qui j'ai échangé.

{{/markdown}}
