---
lang: fr
layout: slide.hbs
title: IUT - Témoignage parcours
type: slides
date: 2013-12-10
---
<section>
	<h1>Maxime Thirouin</h1>
	<h3>Développeur Web Front-End</h3>

	<small><a href="https://github.com/MoOx/moox.github.io/blob/master/{{ this.page.src }}">Slides Source</a></small>
</section>

<section>
	<h2>Formation</h2>
	<p>2003: BAC Scientifique Spé. Math.</p>
	<p>2006: DUT Informatique de Gestion</p>
	<p>2007: LP Développement Intra/Internet </p>
</section>
<section>
	<h2>Expérience</h2>
	<ul>
		<li>Sites vitrines/e-commerces</li>
		<li>Sites/App spécifiques</li>
	</ul>
</section>
<section>
	<h2>Technique</h2>
	<ul>
		<li>Du back-end...</li>
    <li>...Au front-end</li>
	</ul>
	<br /><br />
  <p>
    ➤ Développement d'interface web/mobile
  </p>
</section>

<section>
	<h2>Open Source / Communautés</h2>
	<ul>
		<li><a href="http://aperoweb-toulouse.github.io/">Apero Web Toulouse</a></li>
		<li><a href="http://toulousejs.francejs.org/">ToulouseJS</a></li>
		<li><a href="http://francejs.org/">FranceJS</a></li>
		<li><a href="http://putaindecode.fr">Putain de Code</a></li>
  </ul>
</section>

<section>
	<h2>Un petit conseil pour le web ?</h2>
	<p>
		Veille technologique très importante.
  </p>
</section>

<section>
	<h2>Des questions ?</h2>
	<br />
	<br />
	<br />
	<h3>@MoOx sur <a href="https://twitter.com/MoOx">Twitter</a> &amp; <a href="https://github.com/MoOx">Github</a>
	<br />
	Maxime Thirouin / <a href="http://moox.io/">moox.io</a></h3>
</section>
