---
layout: default.hbs
title: Développeur Web Front-End HTML5, CSS 3, Javascript
class: grid-title--quotes
nav: profile
---
<div class="grid grid--center grid--title">
	<hgroup class="grid__cell unit-8-12--medium title--light">
		<h1>Maxime Thirouin,</h1>
		<h2>a front-end developer who loves his job</h2>
	</hgroup>
</div>

<div class="grid grid--blabla">
	<div class="grid__cell Box">
		<div class="Box-module">
			<h2>Front-End</h2>
			<p>
				I like to work on front-end, whether it's for websites or web applications, using web technologies availables, including <strong>HTML5</strong>, <strong>CSS 3</strong> (with <strong>CSS pre-processor</strong> like <a href="http://sass-lang.com">Sass</a>) and <strong>JavaScript</strong>.
			</p>
			<p>
				Whenever I develop, I also pay big attention to adaptive web design and web performances, to serve accessible content for each devices, regardless of the size and the bandwidth available. I take care about accessibility to everyone, including search engines.
			</p>
		</div>
		<div class="Box-module">
			<h2>Back-End</h2>
			<p>
				I came from a software training, and used to work a lot on back-end using PHP (sometimes with the Zend Framework or Symfony), and SQL (MySQL or Postgres).
				<br />
				Now I prefer Node.js and use it even for front-end stuff (as a server, or mostly to handle commons task with Grunt).
				<br />
				I'm already code with Ruby &amp; Python, but I've to admit that I'm still a noob with these languages.
			</p>
		</div>
		<div class="Box-module">
			<h2>Evangelist</h2>
			<p>
				When I'm not speaking at a <a href="http://toulousejs.org/">ToulouseJS</a> or at an <a href="http://toulouse.aperoweb.fr/">AperoWeb</a> (still in Toulouse), I'm teaching web to fresh student &amp; giving some talks sometimes at the IUT (university technology institute) of Blagnac.
			</p>
			<p>
				Recently I create with some friends, <a href="http://putaindecode.fr/">Putain de Code !</a>, a french community to share high quality posts about development (mainly web).
			</p>
		</div>
	</div>

	<div class="grid__cell Box">
		<footer class="Box-module">
			<h3>Want to work with Maxime Thirouin ?</h3>
{{> big-icons }}
		</footer>
	</div>
</div>
