---
layout: default.hbs
title: "Front-end Web Developer (HTML5, CSS 3, Javascript, Responsive web design, front-end performance optimization)"
class: grid-title--quotes
nav: profile
---
<header class="mx-Header">
  <div class="mx-Body grid grid--center">
    <hgroup class="grid__cell unit-8-12--medium title--light">
      <h1>Maxime Thirouin,</h1>
      <h2>a front-end developer who loves his job</h2>
    </hgroup>
  </div>
</header>

<div class="mx-Content mx-Body grid">
  <div class="grid__cell">
    <h2 class="h1">Front-End</h2>
    <p>
      I like to work on front-end, whether it's for websites or web applications, using web technologies availables, including <strong>HTML5</strong>, <strong>CSS 3</strong> (using <strong>pre|post-processor</strong> like <em>Sass</em> or <em>Rework</em>) and <strong>JavaScript</strong> (eventually with MV* libraries if needed).
    </p>
    <div class="icons--big">
      <i class="icon icon_code-html"></i>
      <i class="icon icon_code-css"></i>
    </div>
    <p>
      Whenever I develop, I also pay big attention to <strong>adaptive web design</strong> and <strong>web performances</strong>, to serve accessible content for each devices, regardless of the size and the bandwidth available. I take care about <strong>accessibility to everyone</strong>, including search engines.
    </p>
    <div class="icons--big">
      <i class="icon icon_device-smartphone"></i>
      <i class="icon icon_device-tablet-tapped"></i>
      <i class="icon icon_device-computer"></i>
    </div>
    <h2>Back-End</h2>
    <p>
      I came from a software training, and used to work a lot on back-end using PHP (sometimes with the Zend Framework or Symfony), and SQL (MySQL or Postgres). I also did some C/C++ &amp; Java.
    </p>
    <div class="icons--big">
      <i class="icon icon_code-php"></i>
      <i class="icon icon_code-javascript"></i>
    </div>
    </p>
      Now I prefer <strong>Node.js</strong> and use it even for front-end stuff (as a server, or mostly to handle commons task for my workflow).
      <br />
      I already coded some Shell, Ruby or Python scripts, but I've to admit that I am still a noob with these languages.
    </p>

    <h2 class="h1">Evangelist</h2>
    <p>
      When I'm not speaking at a <a href="http://toulousejs.francejs.org/">ToulouseJS</a> or at an <a href="http://aperoweb-toulouse.github.io/">AperoWeb</a> (still in Toulouse), I'm teaching web to fresh students &amp; giving some talks sometimes at the <strong>UTI of Blagnac (university technology institute)</strong>.
    </p>
    <p>
      Recently, I created with some friends, <a href="http://putaindecode.fr/">Putain de Code !</a>, a french community to share high quality posts about development (mainly web), in french.
    </p>
  </div>
</div>

{{> footer }}
