---
title: "Front-end Web Developer (HTML5, CSS 3, Javascript, Responsive web design, front-end performance optimization)"
nav: profile
---

{{#extend "layout"}}
  {{#append "header"}}
    <h1 class="mx-Header-body-title mx-Text--light mx-Text--thin mx-Title--light grid__cell unit-8-12--medium">
        <div class="mx-Header-left mx-Header-left--quote">Maxime Thirouin,</div>
        <div class="mx-Header-center">a freelance front-end web developer</div>
        <div class="mx-Header-right mx-Header-right--quote">who loves his job</div>
    </h1>
  {{/append}}
  {{#append "body"}}
    <div class="mx-Body grid">
      <div class="grid__cell">
        <h2 class="h1">(Web) Developer</h2>
        <hr class="mx-Separator mx-Separator--thin">
        <h3 class="h2">Front-End</h3>
        <p>
          I like to work on front-end, whether it's for websites or web applications,
          using web technologies available, including
          <strong>HTML</strong>,
          <strong>CSS</strong> (
            <strong>BEM</strong> methodology,
            <strong>CSS Modules</strong>,
            <strong>inline styles</strong> in React(-native) apps
          )
          and <strong>JavaScript</strong> (
          <strong>React</strong>,
            <strong>ES6/ES2015</strong> and more with Babel,
          ),
          even with Node.js if accurate.
        </p>
        <div class="icons--big">
          <i class="icon icon_code-html"></i>
          <i class="icon icon_code-css"></i>
        </div>
        <p>
          Whenever I develop, I also pay big attention to
            <strong>adaptive|responsive web design</strong> <em class="mx-ProfileTag">RWD</em>
            and <strong>web performances</strong> <em class="mx-ProfileTag">WPO</em>,
          to serve accessible content for each devices, regardless of the bandwidth available.

          I take care about <strong>accessibility to everyone</strong>, including search engines <em class="mx-ProfileTag">SEO</em>.
        </p>

        <div class="icons--big">
          <i class="icon icon_device-smartphone"></i>
          <i class="icon icon_device-tablet--tapped"></i>
          <i class="icon icon_device-computer"></i>
        </div>

        <h3 class="h2">Back-End</h3>
        <p>
          I came from a software training, and used to work a lot on back-end using
            PHP (sometimes with the Zend Framework or Symfony),
            SQL 2 &amp; 3 (MySQL, Postgres, Oracle, SQLite...),
            and even SolR.
          I also did some C/C++ &amp; Java (but that was a long time ago).
        </p>
        <div class="icons--big">
          <i class="icon icon_code-javascript"></i>
          <i class="icon icon_code-php"></i>
        </div>
        <p>
          Now I prefer <strong>Node.js</strong> and use it even for front-end stuff
          (as a server, or mostly to handle commons task for my workflow)
          but I know where to use basic Shell to avoid unecessary tools.
          <br />
          I already coded some Ruby or Python scripts, but I've to admit that I am still a noob with these languages.
          I've even played with ASP, VB, PL/SQL, COBOL and ASMx86 !
        </p>

        <h3 class="h2">Environnments</h3>
        <p>
          Keywords ! Git, SVN, Apache, Unix (Mac OS X, Debian, Ubuntu), Windows, Atom, Sublime Text, Agile (Scrum &amp; Kanban), Adobe Photoshop &amp; Premiere...
        </p>

        <h3 class="h2">Training</h3>
        <ul>
          <li>Since 1999 - Making websites &amp; using the web to learn new stuff everyday</li>
          <li>June 2007 - Obtaining Pro License Intra / Internet Development - IUT de Rodez</li>
          <li>June 2006 - Graduation degree in Computer Management - IUT de Blagnac</li>
          <li>June 2003 - Obtaining the Baccalauréat - Lycée Le Ferradou</li>
        </ul>

        <hr class="mx-Separator mx-Separator--thin">

        <h2 class="h1">Evangelist</h2>
        <p>
          When I'm not speaking at a <a href="http://toulousejs.francejs.org/">ToulouseJS</a> or at an <a href="http://aperoweb-toulouse.github.io/">AperoWeb</a> (still in Toulouse), I'm teaching web to fresh students &amp; giving some talks sometimes at the <strong>UTI of Blagnac (university technology institute)</strong>.
        </p>
        <p>
          Recently, I created with some friends, <a href="http://putaindecode.fr/">Putain de Code !</a>, a french community to share high quality posts about development (mainly web), in french.
        </p>

      </div>

    </div>
  {{/append}}
{{/extend}}
