---
layout: default.hbs
title: Erreur 404
class: error-404
nav: home
---
<div class="grid grid--center grid--title">
	<hgroup class="grid__cell unit-8-12--medium title--light">
		<h1>Are you lost...</h1>
		<h2>in the woods ?</h2>
	</hgroup>
</div>

<div class="grid grid--center">
	<div class="grid__cell unit-1-2--medium Box">
		<div class="Box-module">
			<p>Maybe this content is gone or url is incorrect.</p>
			<p>Try to use navigation to find content.</p>
		</div>
	</div>
</div>
