.tooltip {
	background: #1f2a30;
	background: rgba(31, 42, 48, 0.95);

	@include background(linear-gradient(
		top,
		rgba(31, 42, 48, 0.8) 10%,
		#1f2a30 80%
	));

	color: #f8fbfe;
	padding: 0.214em 0.429em;
	max-width: 30em;

	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);

	box-shadow:
		0 1px 3px rgba(0, 0, 0, 0.5),
		0 0 1px rgba(0, 0, 0, 0.2),
		inset 0 1px 0 rgba(255, 255, 255, 0.2);

	border: 1px solid #000;
	border-color: rgba(0, 0, 0, 0.8);
	border-radius: 0.214em;

	animation: tooltip-opening 0.5s;
	-webkit-animation: tooltip-opening 0.5s;
	transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-webkit-animation-fill-mode: forwards;
}

/**
 * Opening animation
 */

@-webkit-keyframes tooltip-opening {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.2, 0.2);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
	}
}

@keyframes tooltip-opening {
	0% {
		opacity: 0;
		transform: scale(0.2, 0.2);
	}

	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}

/**
 * Arrows
 */

.tooltip:after,
.tooltip:before {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltip:after {
	border-color: rgba(31, 42, 48, 0);
	border-width: 9px;
}

.tooltip:before {
	border-color: rgba(0, 0, 0, 0);
	border-width: 10px;
}

/**
 * Arrow on bottom
 */

.tooltip-top:after,
.tooltip-top:before {
	top: 100%;
	left: 50%;
}

.tooltip-top:after {
	border-top-color: #1f2a30;
	margin-left: -9px;
}

.tooltip-top:before {
	border-top-color: #000;
	margin-left: -10px;
}

/**
 * Arrow on top
 */

.tooltip-bottom:after,
.tooltip-bottom:before {
	bottom: 100%;
	left: 50%;
}

.tooltip-bottom:after {
	border-bottom-color: #1f2a30;
	margin-left: -9px;
}

.tooltip-bottom:before {
	border-bottom-color: #000;
	margin-left: -10px;
}

/**
 * Arrow on right
 */

.tooltip-left:after,
.tooltip-left:before {
	left: 100%;
	top: 50%;
}

.tooltip-left:after {
	border-left-color: #1f2a30;
	margin-top: -9px;
}

.tooltip-left:before {
	border-left-color: #000;
	margin-top: -10px;
}

/**
 * Arrow on left
 */

.tooltip-right:after,
.tooltip-right:before {
	right: 100%;
	top: 50%;
}

.tooltip-right:after {
	border-right-color: #1f2a30;
	margin-top: -9px;
}

.tooltip-right:before {
	border-right-color: #000;
	margin-top: -10px;
}
