<section class="Box-body AboutAuthor">
  <img class="AboutAuthor-avatar" src="//gravatar.com/avatar/d2a1c95e2af59538301c3ee6d2907f6f?s=128" alt="">
	<h1 class="h3 margin-vn">About the author</h1>
	<p>
		<strong>Maxime Thirouin</strong>, known as <em>MoOx</em> on the web, is a freelance front-end web developer living in Toulouse, France. When he is not behind his screen like a geek, he loves to do the handyman in his wood house or having fun with is awesome wife. You can check what he codes on <a href="https://github.com/MoOx">Github</a> or just take a look at what he shares on <a href="https://twitter.com/MoOx">Twitter</a>.
	</p>
</section>
