<section class="Box-module about-author">
	<img class="obj-start" src="//gravatar.com/avatar/d2a1c95e2af59538301c3ee6d2907f6f?s=128" alt="">
	<h1 class="h3 margin-vn">À propos de l'auteur</h1>
	<p>
		<strong>Maxime Thirouin</strong>, alias <em>MoOx</em> sur le web, est un développeur front-end freelance vivant à Toulouse, en France. Lorsqu'il ne fait pas le geek derrière son écran, il adore bricoler dans sa maison en bois ou profiter de la vie avec sa merveilleuse femme. Vous pouvez consulter le code qu'il publie sur <a href="https://github.com/MoOx">Github</a> ou juste jeter un coup d'oeil à ce qu'il partage via <a href="https://twitter.com/MoOx">Twitter</a>.
	</p>
</section>


