{{#is page.nav 'contact' }}
<div class="AvailabilityStatus">
{{else}}
<a class="AvailabilityStatus" href="/contact/">
{{/is}}
    <i class="AvailabilityStatus-icon icon icon_calendar-available"></i>
    <span class="AvailabilityStatus-txt">
      I will be <strong>available</strong> for development or consultancy
      <br />
      starting <em class="js-Availability-date" data-date="2015-10-01">October 2015</em>.
    </span>
{{#is page.nav 'contact' }}
</div>
{{else}}
</a>
{{/is}}
