{{#is page.nav 'contact' }}
<div class="AvailabilityStatus">
{{else}}
<a class="AvailabilityStatus" href="/contact/">
{{/is}}
    <i class="AvailabilityStatus-icon icon icon_calendar-available"></i>
    <span class="AvailabilityStatus-txt">
      I am currently <strong>available</strong> for development or consultancy.
    </span>
{{#is page.nav 'contact' }}
</div>
{{else}}
</a>
{{/is}}
