{{#is page.nav 'contact' }}
<div class="Box AvailabilityStatus">
{{else}}
<a class="Box AvailabilityStatus" href="/contact/">
{{/is}}
  <div class="Box-body AvailabilityStatus-body">
      <i class="AvailabilityStatus-icon icon icon_calendar-available"></i>
      <span class="AvailabilityStatus-txt">
        I'm open for <strong>collaboration on new projects</strong> starting <strong>March, 2014</strong>.
      </span>
  </div>
{{#is page.nav 'contact' }}
</div>
{{else}}
</a>
{{/is}}
