<div class="icons--big">
	<a href="https://twitter.com/MoOx"><i class="icon icon_twitter"></i><span class="text">Twitter</span></a>
	<a href="https://github.com/MoOx"><i class="icon icon_github"></i><span class="text">Github</span></a>
	<a href="http://www.linkedin.com/in/maxthirouin"><i class="icon icon_linkedin"></i><span class="text">LinkedIn</span></a>
	<a href="skype:maxime.thirouin?add"><i class="icon icon_skype"></i><span class="text">Skype</span></a>
{{#isnt page.nav 'contact' }}
	<a href="contact/"><i class="icon icon_email"></i><span class="text">Contact</span></a>
{{ else }}
	<a href="tel:+33678135439" class="AttrTip AttrTip--top" data-tip="+33 6 78 13 54 39"><i class="icon icon_device-smartphone"></i><span class="text">Phone</span></a>
{{/isnt}}
</div>
