<footer class="mx-Footer mx-Text--light">
  <div class="mx-Separator mx-Separator u-posStretch--horizontal u-posToTop"></div>
  <div class="mx-BackgroundImg js-is-Loading" data-parallaxify-y-min="85%"  data-parallaxify-y-max="90%"></div>
  <div class="mx-Footer-body mx-Body grid">
    <div class="mx-TextCenter mx-TextLeft--m grid__cell unit-1-2--medium">
      <a class="mx-IconLink AttrTip AttrTip--top" data-tip="Twitter" href="https://twitter.com/MoOx"><i class="icon icon_twitter"></i></a>
      <a class="mx-IconLink AttrTip AttrTip--top" data-tip="Github" href="https://github.com/MoOx"><i class="icon icon_github"></i></a>
      <a class="mx-IconLink AttrTip AttrTip--top" data-tip="LinkedIn" href="http://www.linkedin.com/in/maxthirouin"><i class="icon icon_linkedin"></i></a>
      <a class="mx-IconLink AttrTip AttrTip--top" data-tip="Skype" href="skype:maxime.thirouin?add"><i class="icon icon_skype"></i></a>
      <a class="mx-IconLink AttrTip AttrTip--top" data-tip="Get in touch" href="contact/"><i class="icon icon_speech-bubbles"></i></a>
      <a class="mx-IconLink AttrTip AttrTip--top" data-tip="+33 6 78 13 54 39" href="tel:+33678135439"><i class="icon icon_device-smartphone"></i></a>
    </div>
    <div class="mx-TextCenter mx-TextRight--m grid__cell unit-1-2--medium">
      <small>
        Built &amp; designed with my hands.
        Source code available on <a href="https://github.com/MoOx/moox.github.io">Github</a>.
      </small>
    </div>
  </div>
</footer>
