<nav class="Navbar Navbar--top js-togglable">
  <div class="mx-Body">
    <a class="SiteLogo Navbar__section Navbar__section--left hint hint--bottom title" href="{{ happyplan.baseUrl }}" data-hint="Home">
      <span class="SiteLogo-title">{{ happyplan.name }}</span>
      <br />
      <span class="SiteLogo-description">{{ happyplan.description }}</span>
    </a>
    <button class="Navbar__toggler js-togglable__toggler">☰</button>

    <ul class="Navbar__section Navbar__section--right js-togglable__item js-togglable__item--hide">
      <li class="Navbar-separator--after"><a class="{{#is page.nav 'profile' }}active{{/is}}"  href="profile/"><i class="icon icon_user"></i> Profile</a>
      {{!-- </li><li class="Navbar-separator--after"><a class="{{#is page.nav 'portfolio' }}active{{/is}}"  href="#not-ready"><i class="icon icon_gears"></i> Portfolio</a> --}}
      </li><li class="Navbar-separator--after"><a class="{{#is page.nav 'code' }}active{{/is}}"  href="/code/"><i class="icon icon_gears"></i> Code</a>
      </li><li class="Navbar-separator--after"><a class="{{#is page.nav 'slides' }}active{{/is}}"  href="slides/"><i class="icon icon_speech-bubble"></i> Talks</a>
      </li><li class="Navbar-separator--after"><a class="{{#is page.nav 'blog' }}active{{/is}}"  href="blog/"><i class="icon icon_pencil"></i> Blog</a>
      </li><li class="Navbar-separator--after"><a class="{{#is page.nav 'about' }}active{{/is}}"  href="about/"><i class="icon icon_help"></i> About</a>
      </li><li class="Navbar-separator--after"><a class="{{#is page.nav 'contact' }}active{{/is}}"  href="contact/"><i class="icon icon_speech-bubbles"></i> Contact</a></li>
    </ul>
  </div>
</nav>
