<nav class="Navbar Navbar--top js-Togglable">
  <div class="mx-Body grid">
    <div class="grid__cell">
      <a class="SiteLogo Navbar-section Navbar-section--left AttrTip AttrTip--bottom title" href="{{ happyplan.baseUrl }}" data-tip="Home">
        <span class="SiteLogo-title">{{ happyplan.name }}</span>
        <br />
        <span class="SiteLogo-description">{{ happyplan.description }}</span>
      </a>
      <button class="Navbar-toggler js-Togglable-toggler"><i class="icon icon_menu"></i></button>
      <ul class="Navbar-section Navbar-section--right mx-SeparatorBefore mx-SeparatorBefore--thin mx-SeparatorBefore--animated js-Togglable-item js-Togglable-item--hidden">
        <li><a class="{{#is page.nav 'profile' }}active{{/is}}"  href="profile/"><i class="icon icon_user"></i> Profile</a>
        {{!-- </li><li><a class="{{#is page.nav 'portfolio' }}active{{/is}}"  href="#not-ready"><i class="icon icon_gears"></i> Portfolio</a> --}}
        </li><li><a class="{{#is page.nav 'code' }}active{{/is}}"  href="/code/"><i class="icon icon_gears"></i> Code</a>
        </li><li><a class="{{#is page.nav 'blog' }}active{{/is}}"  href="blog/"><i class="icon icon_pencil"></i> Posts</a>
        </li><li><a class="{{#is page.nav 'slides' }}active{{/is}}"  href="slides/"><i class="icon icon_speech-bubble"></i> Talks</a>
        </li><li><a class="{{#is page.nav 'about' }}active{{/is}}"  href="about/"><i class="icon icon_help"></i> About</a>
        </li><li><a class="{{#is page.nav 'contact' }}active{{/is}}"  href="contact/"><i class="icon icon_speech-bubbles"></i> Contact</a></li>
      </ul>
      <div class="mx-Separator mx-Separator--thin mx-Separator--animated js-Togglable-item"></div>
    </div>
  </div>
</nav>
