<ul class="mx-List">
  <li><a href="http://moox.io/statinamic/">Statinamic</a>, a static website generator to create dynamic website using <strong>React</strong> components,
  <li><a href="http://cssnext.io/">cssnext</a>, a <strong>CSS</strong> transpiler that allows you to use the latest CSS syntax today,
  <li><a href="//putaindecode.io/">Putain de code !</a>, a community for passionate developers,
  <li><a href="https://cssrecipes.github.io/">cssrecipes</a>, CSS reusable components &amp; utilities,
  <li><a href="https://github.com/MoOx/setup">my setup</a>, that contains all apps and prefs for my machines,
  <li><a href="https://github.com/putaindecode/tab">tab</a>, a pretty replacement for about:blank (new browser tab),
  <li><a href="//dame.bio/">D'Âme Bio</a>, website of my wife where she shares (mainly) food recipes.
</ul>
