<ul class="mx-List">
  <li><a href="https://cssnext.github.io/">cssnext</a>, a CSS4+ to CSS3 transpiler (that can replace a CSS preprocessor),
  <li><a href="https://stylelint.github.io/">StyleLint</a>, a modern CSS linter,
  <li><a href="https://cssrecipes.github.io/">cssrecipes</a>, CSS reusable components &amp; utilities,
  <li><a href="//putaindecode.fr/">Putain de code !</a>, a french community about code quality,
  <li><a href="https://github.com/MoOx/setup">my setup</a>, that contains all apps and prefs for my machines,
  <li><a href="https://github.com/putaindecode/tab">tab</a>, a pretty replacement for about:blank (new browser tab),
  <!-- <li><a href="https://github.com/happyplan/happyplan">HappyPlan</a>, a static website generator based on Grunt, -->
  <li><a href="//dame-bio.fr/">D'Âme Bio</a>, website of my wife where she shares (mainly) food recipes.
</ul>
